<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://hexo.io" target="_blank" title="Hexo">Hexo</a></li>
      <!--<li><a href="http://gengbiao.me" target="_blank" title="coney">coney's Blog</a></li>-->
      <li><a href="http://shenjoel.github.io/" target="_blank" title="shenjoel">shenjoel's Blog</a></li>
      <li><a href="http://firewood1122.github.io/" target="_blank" title="firewood1122">firewood1122's
          Blog</a></li>
      <li><a href="http://fsiaonma.github.io/" target="_blank" title="fsiaonma">fsiaonma's Blog</a></li>
      <li><a href="http://xiaokaike.github.io/" target="_blank" title="xiaokaike">xiaokaike's Blog</a>
      </li>
      <li><a href="http://sentsin.com/daohang/" target="_blank" title="daohang">daohang</a></li>
      <li><a href="http://blog.fens.me/series-nodejs/" target="_blank" title="nodejs">nodejs</a></li>
    </ul>
</div>
